.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

#inputimage {
  box-shadow: 0 0 8px 4px rgb(0 0 0 / 20%);
  border-radius: 15px;
  width: 500px;
  height:auto;
  max-width: 100%;
}

.photo-container {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
  margin: 30px auto 30px auto;
}
