.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
  font-weight: 700;
}

button, input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
